<!DOCTYPE html>
<html>
<head>
	<title>Body-Parser Module Demo</title>
</head>

<body>
	<h1>Demo Form</h1>

	<form action="saveData" method="POST">
		<pre>
			Enter your Email : <input type="text"
									name="email"> <br>
								
			<input type="submit" value="Submit Form">
		</pre>
	</form>
</body>
</html>
